.wrapper {
    width: 95%;
    margin: 0 auto;
    margin-top: 49px;
  }

  #search-container {
    margin: 1em 0; 
  }

  #search-container input {
    border-bottom-color: #e2fcef;
    color: #5c164e;
    font-size: 15px;
    font-weight: bold;
    border: none;
    outline: none;
    width: 57%;
    border-bottom: 2px solid #e2fcef;
    padding: 1em 0.3em;
  }
  #search-container input:focus {
    border-bottom-color: #e2fcef;
    color: #5c164e;
    border: none;
    outline: none;
  }
  #search-container button {
    padding: 1em 2em;
    background-color: #e2fcef;
    color:  #5c164e;
    border-radius: 5px;
    margin-top: 0.5em;
    outline: none;
  }
  .button-value {
    border: 2px solid #5c164e;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #5c164e;
    cursor: pointer;
  }
  .active {
    background-color: #5c164e;
    color: #ffffff;
    outline: none;
  }
  #products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 1.5em;
  }
   .card {
    background-color: #ffffff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
  } 
  .image-container {
    text-align: center;
  }
  
  img{
    max-width: 100%; 
   object-fit: contain;
    /* height: 14em; */
    animation: none;
    transition: all 0.4s
  }

  .image-container img:hover {
    transform: scale(0.9);
  }  

  .container {
    padding-top: 1em;
  }
  .container h5 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -10px;
  }

  .container h6 {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
  }

  .container p {
    color: #5c164e;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .hide {
    display: none;
  }

  @media screen and (max-width: 720px) {

    .Product-Center p{
      font-size: 10px;
    }

    img {
      max-width: 100%;
      object-fit: contain;
      height: 10em;
    }
    .card {
      max-width: 10em;
      margin-top: -1em;
    }
    #products {
      grid-template-columns: auto auto;
      grid-column-gap: 1em;
      margin-top: -30px;
    }

    #products p{
      display: none;
    }
  }