
.wrapper {
    width: 95%;
    margin: 0 auto;
    margin-top: -44px;
  }

  #search-container {
    margin: 1em 0;
    
  }
  #search-container input {
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid ##e2fcef;
    padding: 1em 0.3em;
  }
  #search-container input:focus {
    border-bottom-color: #5c164e;
  }
  #search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #e2fcef;
    color:  #5c164e;
    border-radius: 5px;
    margin-top: 0.5em;
  }
  .button-value {
    border: 2px solid #6759ff;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #5c164e;
    cursor: pointer;
  }
  .active {
    background-color: #5c164e;
    color: #ffffff;
  }
  #products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
  }
   .card {
    background-color: #ffffff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
  } 
  .image-container {
    text-align: center;
  }
  
  img{
    overflow: hidden;
 /*    max-width: 80%; */
   object-fit: cover;
    height: 14em;
    animation: none;
    
    transition: all 0.4s
  }

  .image-container img:hover {
    transform: scale(0.9);
  }  

  .container {
    padding-top: 1em;
  }
  .container h5 {
    font-size: 21px;
    font-weight: bold;
    margin-top: -36px;
  }

  .container h6 {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
  }

  .container p {
    color: #5c164e;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .hide {
    display: none;
  }


.kenburns-top-right {
  -webkit-animation: kenburns-top-right 5s ease-out both;
  animation: kenburns-top-right 5s ease-out both;
}

@-webkit-keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
            transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
            transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
            transform-origin: right top;
  }
}
@keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
            transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
            transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
            transform-origin: right top;
  }
}

  @media screen and (max-width: 720px) {
    img {
      max-width: 100%;
      object-fit: contain;
      height: 10em;
    }
    .card {
      max-width: 10em;
      margin-top: 1em;
    }
    #products {
      grid-template-columns: auto auto;
      grid-column-gap: 1em;
    }
  }